.box {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box > p {
  background-color: rgba(0, 128, 0, 0.8);
  padding: 10px 20px;
  border-radius: 7px;
  color: white;
  position: absolute;
  top: 200px;
}

.box > div {
  display: flex;
  background-color: white;
  border-radius: 10px;
  border: 2px solid gray;
  padding: 20px;
  gap: 20px;
}

.box > div > div {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.box > div > div > img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.box > div > div > h2 {
  color: rgb(44, 43, 43);
  font-family: Arial;
  font-size: 24px;
}

.box > div > div > p {
  color: rgb(73, 73, 73);
}

.form {
  padding: 20px 20px 30px 20px;
  border-left: 1px solid gray;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

.form > a {
  color: black;
  background-color: rgb(205, 228, 236);
  border-radius: 3px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  transition: all 0.15s ease-in-out;
}

.form > a > img {
  width: 15px;
}

.form > a:hover {
  opacity: 0.7;
}

.form > label {
  margin-right: auto;
  font-family: Arial;
}

.form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid gray;
  padding: 10px;
  border-radius: 7px;
  gap: 8px;
}

.form > div > img {
  width: 15px;
}

.form > div > input {
  font-size: 16px;
  padding: 0;
  border: none;
  width: 350px;
  outline: none;
}

.form > button {
  padding: 10px 0;
  border: none;
  background-color: rgb(25, 101, 177);
  color: white;
  border-radius: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: all 0.15s ease-in-out;
}

.form > button > img {
  width: 15px;
}

.form > button:hover {
  opacity: 0.8;
}
