.reset {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: arial;
}

.reset > p {
  padding: 10px 20px;
  border-radius: 7px;
  color: white;
  position: absolute;
  top: 180px;
}

.reset > p.suc {
  background-color: rgba(0, 128, 0, 0.8);
}
.reset > p.err {
  background-color: rgba(128, 0, 0, 0.8);
}

.reset > div {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  border: 2px solid gray;
}

.reset > div > h2 {
  color: rgb(39, 38, 38);
  font-size: 24px;
}

.reset-form > div > label {
  margin-bottom: 5px;
}

.reset-form > div > input {
  font-size: 16px;
  padding: 10px;
  outline: none;
  width: 300px;
}

.reset-form > button {
  margin-top: 10px;
  background-color: rgb(11, 113, 153);
  color: white;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
}
